/*Table*/
.fs-table_cell,
.fs-table-mobile_cell {
  border-width: 0px;
}
.fs-table_cell.is-grey.is-right {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.fs-table_cell.is-grey.is-left {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.fs-table_row,
.fs-table-mobile_row {
  border: 0px;
}
.fs-table_table,
.fs-table-mobile_table {
  border: 0px;
}
.fs-table_header,
.fs-table-mobile_header {
  border: 0px;
}

/*Form*/
.progress.current {
  background: #203d83; /* couleur active */
}
/*Thanks Page*/
.user-info-content h3 {
  color: #203d83 !important;
  font-weight: bold;
}

/*Swiper mobile*/
.swiper-button-prev {
  display: none !important;
}

/*Responsive*/
@media (min-width: 991px) and (max-width: 1100px) {
  .pricing_top-content {
    height: auto;
  }
  .pricing_number {
    font-size: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 1115px) {
  .hero_list {
    max-width: 25rem;
  }
}
@media (min-width: 991px) and (max-width: 1128px) {
  .pricing_text-content .button-group .button {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
}
@media (min-width: 991px) and (max-width: 1210px) {
  .summarize_cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
/*Hover button*/
.button.is-gradient:hover {
  background: linear-gradient(84deg, #203d83 0%, #1478be 100%);
}
